* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #E5E5E5;
}

/*estilizamos el header*/

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.nav-header {
    color: #fff;
    display: flex;
    align-items: center;
}

.ul-header {
    list-style: none;
    display: flex;
    
}

.div-header {
    margin: 5px;
}

header li {
    display: flex;
    justify-content: space-around;
    margin: 20px;
   
}

/* estilizando las cards */

.menu {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.delivery {
    margin-right: 10px;
}

.podio {
    display: flex;
    background-color: #FFFFFF;
    height: 350px;
    width: 490px;
    border-radius: 5px;    
}

.podio-titulo {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-left: 150px;
    margin-top: 20px;
}

.info-pizza {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -270px;
}

/*.falling {
    display: flex;
    width: 50px;
    height: 200px;
    align-items: center;
    margin-top: 50px;
    margin-left: 40px;
}

.menu-pizzas {
    background-color: aqua;
    display: flex;
    justify-content: center;
    
}*/

/* estilizamos el footer */

footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.footer-ul {
    list-style: none;
    color: #fff;
    margin: 10px;
    justify-content: space-around;
}

footer li {
    margin: 10px;
    line-height: 20px;
}

.logo-footer {
    margin: 20px;
    padding-top: 15px;
}